# Just until rtd.org understands pyproject.toml
setuptools
setuptools_scm
typing_extensions
importlib_metadata
sphinx_rtd_theme>=0.3
sphinx_autodoc_typehints<=1.6
Jinja2<3.1

# Convert notebooks to html
ipykernel
sphinx==3.5.4
nbsphinx==0.8.0
